* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", "Fira Code", monospace;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#typing-text::after {
  content: "|";
  animation: blink 1s infinite;
}

body {
  position: relative;
  background: #080808;
  color: #f4ebe2;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/background.png);
  background-size: cover;
  background-position: center;
}
.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 200px;
  margin-left: -50px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #f4ebe2;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #6d8184;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 15%;
  font-size: 30px;
  text-align: center;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span {
  color: #808da5;
}
/* ------------ about ----------------- */

#about {
  padding: 80px 0;
  color: #ababab;
  background: linear-gradient(to right, #214566, #14293d, #214566);
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}
.about-col-2 {
  flex-basis: 60%;
}
.interactive-image {
  transition: box-shadow 0.3s ease;
}
.interactive-image:hover {
  box-shadow: 0 0 10px 2px #dd76bc; 
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #83a27c;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
  color: #83a27c;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #6d8184;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #6d8184;
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

/* --------------------- education/skills/experience section -------------------- */
#education {
  background-color: #214566;
  color: #f4ebe2; 
  padding: 5px 0; 
}
#skills {
  background-color: #214566; 
  color: #f4ebe2; 
  padding: 5px 0;
}

#experience {
  background-color: #214566;
  color: #f4ebe2;
  padding: 5px 0; 
}

.education-details {
  border-left: 4px solid #6d8184; 
  padding: 20px;
  margin: 20px 0; 
}

.education-details header h2 {
  color: #83a27c; 
  margin-bottom: 20px; 
}

.education-info h3 {
  font-size: 24px; 
  color: #f6e7e4; 
  margin-bottom: 5px; 
}

.details {
  list-style-type: none;
  padding: 0;
}

.details li {
  padding: 10px 10px;
  border-bottom: 1px solid #6d8184;
}

#education .details li:last-child,
#experience .details li:last-child {
    border-bottom: none; 
}

.dates {
  display: block;
  font-style: italic;
  color: #6d8184;
  margin-bottom: 5px;
  padding-top: 10px;
}

/* Ensure responsiveness */
@media (max-width: 800px) {
  .education-details {
    padding: 10px 20px;
    border-left: 2px solid #6d8184;
  }
}

/* --------------------- skills section -------------------- */
.enhanced-skills {
  list-style: none; 
  padding: 0;
  display: flex;
  flex-wrap: wrap; 
  justify-content: start; 
  margin: 10px 0;
}

.enhanced-skills li {
  padding: 10px 10px 10px 14px; 
  margin-right: 14px; 
  margin-bottom: 10px; 
  border-radius: 5px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s; 
  display: inline-flex;
  align-items:center;
  border-bottom: 1px solid #ccc;
}

.enhanced-skills li:hover {
  background-color: #14293d; 
}

.enhanced-skills li i {
  margin-right: 10px;  /* Space between icon and text */
  margin-left: 2px;
  color: #6d8184;  /* Icon color */
}

/* --------------------- projects -------------------- */
#projects {
  padding: 50px 0;
  background: linear-gradient(to left, #1a3752, #2c4b6f);
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  min-height: 400px; 
}
.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #6d8184);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  overflow-y: auto;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
  color: #f6e7e4;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color: #6d8184;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background-color: #f4ebe2;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.layer a:hover {
  color: #f6e7e4;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #6d8184;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #f6e7e4;
  transition: background 0.5s;
}
.btn:hover {
  background: #6d8184;
}

/* --------------------- hobbies -------------------- */
#hobbies {
  padding: 30px 0;
  background: linear-gradient(to bottom right, #14293d, #572442);
}
.hobbies-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.hobbies-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.hobbies-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.hobbies-list div img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 30px;
}

.hobbies-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.hobbies-list div a {
  text-decoration: none;
  color: #f6e7e4;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.hobbies-list div:hover {
  background: #6d8184;
  transform: translateY(-10px);
}

/* -------------------- contact ----------------- */
#contact {
  background: linear-gradient(to bottom left, #1a2a52, #111b36);
}
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: #6d8184;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons {
  margin-top: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: #6d8184;
  transform: translateY(-5px);
}
.btn.btn2 {
  display: inline-block;
  background: #6d8184;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #ababab;
  padding: 10px;
  margin: 15px 0;
  color: #080808;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2 {
  padding: 10px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
/* Footer styling to push it to the bottom */
.copyright {
  position: absolute; /* Changed to absolute */
  bottom: 0; /* Anchors it to the bottom */
  left: 0; /* Stretches from the left */
  width: 100%; /* Ensures it spans the full width of the viewport */
  text-align: center; /* Keeps the text centered */
  font-size: 12px;
  padding: 15px 0;
  background: #262626;
  font-weight: 300;
  margin-top: auto; /* Pushes it to the bottom if there is no other content pushing it down */
  color: #f4ebe2; /* Adjust text color for better visibility if needed */
}
.copyright i {
  color: #6d8184;
}

/* --------------------------- css for small screens ------------------------- */
nav .fa-solid {
  display: none;
}

@media only screen and (max-width: 600px) {
  #header {
    background-image: url("images/phone-background.png");
  }
  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  nav .fa-solid {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #6d8184;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .sub-title {
    font-size: 40px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
  .copyright {
    font-size: 14px;
  }
}

#msg {
  color: #61b752;
  margin-top: -20px;
  display: block;
}

.work img {
  max-width: 100%;
  height: auto; 
}